body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header, main {
  display: inline-block;
  width: 800px;
  margin-left: calc(50% - 400px);
}

img {
  float: left;
  height: 46px;
}

nav {
  float: right;
  margin-top: 13px;
}

a {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  margin-left: 20px;
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
  border-bottom: blue solid;
  padding: 10px;
}
a:first-child {
  border-bottom: 2px blue solid;
  padding: 10px;
}

p {
  font-size: 20px;
  line-height: 1.24em;
}
