body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
header,
main {
  display: inline-block;
  width: 1000px;
  margin-left: calc(50% - 500px);
  margin-top: 20px;
}

header > img {
  float: left;
  height: 46px;
}

header > nav {
  float: right;
  margin-top: 13px;
}

nav > a {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  margin-left: 20px;
  text-decoration: none;
  color: black;
}
nav > a:hover {
  color: red;
  border-bottom: blue solid;
  padding: 5px;
}
nav > a:first-child {
  border-bottom: 2px blue solid;
  padding: 5px;
}

body > main {
  margin-top: 100px;
}
main > div {
  width: 45%;
  float: left;
  padding-right: 10%;
}
div > h1 {
  font-weight: normal;
  font-family: cursive;
}
span {color: tomato;}

div > p {
  margin-bottom: 25px;
  font-family: cursive;
}

div > a {
  background-color: tomato;
  padding: 10px;
  padding-left: 55px;
  padding-right: 55px;
  border-radius: 5px;
  text-decoration: none;
  color: wheat;
}

main > img {
  width: 45%;
  height: 594px;
  float: right;
  object-fit: contain;
  object-position: top;
}
